@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap',
'https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Big+Shoulders+Inline+Text:wght@900&family=Dancing+Script:wght@600&display=swap',
'https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Big+Shoulders+Inline+Text:wght@900&family=Dancing+Script:wght@600&family=Indie+Flower&family=Tinos:ital@0;1&display=swap')


body * {
    font-family: 'Tinos', serif;
}

.navbar-brand, font {
    font-weight: 400;
    font-size: 40px;
}
.icon {
    font-family: 'Goldman',sans-serif;
    font-weight: 700;
    color: white;
}
 .navbar, li{
   font-family: 'Goldman', fantasy;
 }

header {
  background-image: url('../img/bg6.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding-bottom: 20rem;
  background-position: center;
  font-family:'Architects Daughter', cursive;
  color: black;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.header, p{
  font-weight: bolder;
}


#about .content-header {
    font-size: 1.56rem;
    letter-spacing: 0.2rem;
}

#experience hr {
    height: 0.2rem;
}

#experience .exp-text {
    font-size: 1.5rem;
}

#work hr {
        height: 0.2rem;
}

#work {
  font-family: 'Goldman', sans-serif;
}

.carousel, h2{
  font-family: 'Architects Daughter', cursive;

}
.carousel-indicators {
    top: 320px;
}
.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: black;
    padding-bottom: 25px;
}
.carousel-indicators .active {
    background-color: rgb(88, 85, 85);
}


footer{
  font-family: 'Goldman',fantasy;
}
footer i {
  margin: 0 0.25em 0.5em 0.25em;
    }
